@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/2_2.jpg)
    no-repeat center center/cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0,0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px); 
}

.todo-app h1 {
    font-size: 2rem;
}

.stat-container{
    padding: 15px 20px ;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.details {
    width: 100%;
}

.details h3 {
    color: white;
}

#progressbar {
    width: 100%;
    height: 7px;
    background: rgb(76, 159, 94);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}

#progress {
    width: 0%;
    height: 100%;
    background: rgb(133, 221, 133);
    border-radius: 20px;
    transition: width 0.3s ease;
}

#numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: rgb(133, 221, 133);
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input{
    flex: 1;
    padding: 10px 17px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 22px;
    background: rgb(76, 159, 94);
    color: rgb(226, 226, 226);
}

.input-area input::placeholder{
    color: rgb(190, 190, 190);
}

.input-area button{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    background-color: rgb(76, 159, 94);
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover{
    transform: scale(1.1);
    background-color: rgb(64, 106, 166);
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;
}

#task-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(18, 51, 90, 0.5);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    position: relative;
    transition: box-shadow 0.2s ease;
}

#task-list li :hover { 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list li input[type="checkbox"].checkbox {
    min-width: 18px;
    height: 18px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2 ease;
    margin-right: 10px;
}

#task-list li input[type="checkbox"].checkbox:checked{
    background: rgb(100, 100, 172);
    transform: scale(1.1);
}

#task-list li input[type="checkbox"].checkbox:checked::before{
    content: '\2713';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    padding-top: 1px;
}

#task-list li input[type="checkbox"] span {
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

#task-list li.completed span {
    text-decoration: 2px line-through rgb(138, 138, 184);
    color: rgb(138, 138, 184);
}

.task-buttons {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.task-buttons button{
    background: rgba(13, 40, 73, 0.5);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.task-buttons button:hover {
    transform: scale(1.2);
}

.task-buttons .edit-btn {
    background: rgb(224, 193, 17);
}

.task-buttons .delete-btn {
    background: rgb(28, 36, 91);
} 

/* media queries */
@media (max-width: 600px) {
    .container{
        margin: 0 20px;
        padding: 0 10px;
    }

    .todo-app{
        padding: 1.5rem;
        gap: 20px;
    }

    #numbers{
        width: 60px;
        height: 60px;
        font-size: 1rem;
    }

    .input-area input{
        font-size: 1rem;
    }

    #task-list li{
        font-size: 1rem;
    }
}